:root {
  --text-main: #f2f6fa;
  --background: #070913;
}

.background {
  background-color: var(--background);
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  column-gap: 2;
}

.empty-state {
  display: flex;
  margin-top: 35vh;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
