:root {
  --text-main: #f2f6fa;
  --background: #070913;
}

/* GRADIENT */

.body {
  background-image: linear-gradient(
    to right top,
    #1b2381,
    #503fd0,
    #4d29a4,
    #42157b,
    #330355
  );
  background-size: 400% 400%;
  background-color: var(--background);
}

* {
  color: var(--text-main);
  font-family: "JetBrains Mono", monospace;
}

.jetbrains-mono-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}
