:root {
  --text-main: #f2f6fa;
  --background: #070913;
}

.body {
  background-color: var(--background);
  margin: 0;
}

* {
  color: var(--text-main);
  font-family: "JetBrains Mono", monospace;
}

.jetbrains-mono-font {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}

/** Page sections **/
.header-section {
  background: linear-gradient(
    to right top,
    #1b2381,
    #503fd0,
    #4d29a4,
    #42157b,
    #330355
  );
  background-size: 100% 100%;
  height: 300px;
  align-items: center;
  padding-top: 50px;
  animation: fade 0.7s ease-in;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
}

.section1 {
  padding-top: 50px;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.container {
  margin: auto;
  max-width: 400px;
}

.transition {
  margin-top: -15px;
  /* z-index: 50; */
  /* background-image: linear-gradient(rgb(111, 0, 255), var(--background)); */
  height: 30px;
  /* filter: blur(5px); Apply blur effect */
  backdrop-filter: blur(5px);
}
